// 弹窗相关样式

.grid-dom {
  height: 100%;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Microsoft YaHei';
}

.grid-dom-parent {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}
